

<% include ./partials/header %>

    <h1>Express Movies : les sites de cinéphiles</h1>
    <div>
        Etes-vous plutôtfilm ou séries ? Peu importe, vous trouverez votre bonheur dans les deux cas
    </div>

</body>

</html>